<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>1412278-1412414</title>

    <link rel="stylesheet" type="text/css" href="../Public/Blog.css" />
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar mynavbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#1" aria-expanded="false">
                  <div class="mymenuicon"></div>
                  <div class="mymenuicon"></div>
                  <div class="mymenuicon"></div>
                </button>
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="../Public/Images/hello-speech-bubble-handmade-chatting-symbol.png" style="height:30px; width: 45px;">
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#2" aria-expanded="false">
                <i class="fa fa-close" style="font-size:35px;color:red;"></i>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="1">
                <ul class="nav navbar-nav">
                    <li><a href="Home.html">Home</a></li>
                    <li><a href="Album.html">Album</a></li>
                    <li><a href="About.html">About</a></li>
                    <li><a class="active" href="Blog.html">Blog</a></li>
                </ul>
            </div>

        </div>
    </nav>
    <div class="row">
        <div class="col-md-2">

            <div class="collapse  navbar-collapse" id="2">
                <ul class="nav sidebar">
                    <li><a href="Home.html">Home</a></li>
                    <li><a href="Album.html">Album</a></li>
                    <li><a href="About.html">About</a></li>
                    <li><a class="active" href="Blog.html">Blog</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <h1>Tin Nóng Trong Tuần</h1>
            <hr />
            <div class="col-md-5 col-xs-6">

                <div class="thumbnail">
                    <a href="Topic1.html" target="_blank">
                        <img src="../Public/Images/Blog/top_1.jpg" alt="Topic1" style="width:100%">
                        <div class="caption">
                              <p>
                              Bài viết mới  <br>
                              Người tạo : Thụy Miên <br>
                              Tình tiết mới vụ United Airlines ngược đãi bác sĩ gốc Việt
                              </p>
                        </div>
                    </a>

                </div>
            </div>
              <div class="col-md-5 col-xs-6">
                <div class="thumbnail">
                    <a href="Topic2.html" target="_blank">
                        <img src="../Public/Images/Blog/top_2.2.jpg" alt="Topic2" style="width:100%">
                        <div class="caption">
                              <p>
                              Bài viết mới  <br>

                            Nikon ra mắt máy ảnh DSLR dùng lớp vỏ kim loại bóng mượt
                              </p>
                        </div>
                    </a>

                </div>
              </div>

        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>1412278 - Phan Khánh Lâm và 1412414 - Vương Thiên Phú</p>
            </div>
        </div>
    </footer>
</body>

</html>
